.signOffStillLooking {
  .grid {
    .illustration {
      display: none;
    }
  }
}

@media all and (min-width: 800px) {
  .signOffStillLooking {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 6rem;

      .illustration {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
