.review {
  @include shadowSoft;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: box-shadow 200ms ease-in;

  &:last-of-type {
    margin: 0;
  }

  @media (hover: hover) {
    &:hover {
      @include shadowHardDistant;
    }
  }

  .name {
    @include flexJustifyStart;
    margin: 0 0 0.625rem 0;

    h5 {
      font: 700 1.25rem/1.75rem "Inter", Arial, sans-serif;
      color: $blueDark;
      margin: 0 0.125rem 0 0;
    }
  }

  .location {
    display: block;
    color: $grey;
    font: 400 0.875rem/1.125rem "Inter", Arial, sans-serif;
  }

  .stars {
    @include flexJustifyStart;
    margin: 0.75rem 0;
  }

  .content {
    height: 13rem;
    overflow: hidden;
    position: relative;

    .summary {
      margin: 0;
      font: 600 1rem/1.25rem "Inter", Arial, sans-serif;
      color: $blueDark;
    }

    p {
      margin: 1rem 0 0 0;
      font: 400 0.875rem/1.5rem "Inter", Arial, sans-serif;
      color: $grey;
      overflow: hidden;
    }

    .gradientOverlay {
      position: absolute;
      top: 108px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }

  .continueReading {
    margin: 1rem 0 0 0;
    display: block;

    .source {
      display: none;
    }
  }
}

@media all and (min-width: 800px) {
  .review {
    .continueReading {
      .source {
        display: inline;
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .review {
    padding: 2rem;

    .continueReading {
      margin: 1.5rem 0 0 0;
    }
  }
}
