.headerHomepage {
  padding-left: 1.25rem;

  .content {
    padding-right: 1.25rem;

    h1 {
      max-width: 36rem;
    }
    p {
      max-width: 27rem;
    }

    .headerButtons {
      margin-top: 1.75rem;
    }
  }

  .illustrationWrapper {
    margin-top: 1.25rem;
    overflow: hidden;

    .illustration {
      max-width: none;
      width: 140%;
    }
  }
}

@media screen and (min-width: 600px) {
  .headerHomepage {
    .illustrationWrapper {
      .illustration {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .headerHomepage {
    padding-left: 3rem;

    .content {
      padding-right: 3rem;
    }

    .illustrationWrapper {
      margin-top: 3rem;

      .illustration {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .headerHomepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    padding-left: 0;

    .content {
      padding-right: 0;
      padding-left: 3rem;
    }

    .illustrationWrapper {
      margin-top: 0;
      max-width: 800px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .headerHomepage {
    padding-bottom: 8rem;

    .content {
      padding-left: 4rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .headerHomepage {
    padding-top: 8.5rem;
  }
}

@media screen and (min-width: 1376px) {
  .headerHomepage {
    gap: 6rem;

    .content {
      padding-left: calc(4rem + ((100vw - 1376px) / 2));
    }
  }
}
