.videoPlayer {
  .close {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1004;
    width: 2.75rem;
    height: 2.75rem;

    &:focus {
      background-color: $grey;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $grey;
      }
    }

    .closeIcon {
      .line {
        width: 1.5rem;
        background-color: $greyLightSuper;
      }
    }
  }

  .player {
    position: fixed;
    @include shadowHard;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    width: 100%;
    height: calc(100% - 10rem);
    max-width: 1024px;
    max-height: 576px;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .videoPlayer {
    .player {
      height: 100%;
      max-width: calc(100% - 10rem);
    }
  }
}
