.headerImage {
  margin: 1.5rem 0;
}

.columnedHeader {
  text-align: left;

  .columnsTitle {
    h2 {
      margin: 0 0 1.5rem 0;
    }
    .divider {
      margin-bottom: 2rem;
    }
  }
  .columns {
  }
}

@media screen and (min-width: 800px) {
  .headerImage {
    margin: 2.5rem 0;
  }

  .columnedHeader {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;

    .columnsTitle {
      h2 {
        margin-bottom: 2rem;
      }

      .divider {
        margin-bottom: 3.5rem;
      }
    }
    .columns {
      p {
        margin: 0 0 1.5rem 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .headerImage {
    margin: 3.5rem 0 4rem;
  }

  .columnedHeader {
    gap: 4rem;
    grid-template-columns: 1fr 2fr;

    .columns {
      column-count: 2;
      column-gap: 4rem;

      p {
        margin-bottom: 1.875rem;
      }
    }
  }
}
