.articleHeader {
  padding: 4rem 0 0 0;

  .content {
    padding: 1.5rem 1.25rem 2rem;

    .label {
      display: block;
      font: 600 0.8125rem/1rem "Inter", Arial, sans-serif;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: $blue;
      margin: 0 0 0.5rem 0;
    }

    .author {
      @include flexJustifyStart;
      align-items: center;
      margin: 1rem 0 0 0;

      .photo {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1rem 0 0;
      }
    }
  }

  .cover {
    width: 100%;
  }
}

.articleWrapper {
  .article {
    width: calc(100% - 2.5rem);
    display: block;
    margin: 0 auto;
    max-width: 600px;

    .content {
      border-bottom: #dcdee0 1px solid;
      padding: 2rem 0;

      &:last-of-type {
        border-bottom: none;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font: 700 1.75rem/2.375rem "Charter", "Times New Roman", serif;
        letter-spacing: -0.25px;
        color: $blueDark;
        margin: 0 0 1rem 0;
      }

      p {
        margin: 0 0 1rem 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .shareIcons {
    position: fixed;
    bottom: 2rem;
    right: 1.25rem;
    z-index: 1000;

    .title {
      display: none;
      font: 600 13px/1.25rem "Inter", Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    button {
      width: 3rem;
      height: 3rem;
      margin-top: 0.75rem;
      display: block;

      svg {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        @include shadowSoft;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .articleHeader {
    padding: 6rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .content {
      order: 2;
      padding: 3rem 4rem;
    }

    .cover {
      order: 1;
      height: 25rem;
    }
  }

  .articleWrapper {
    display: grid;
    grid-template-columns: 8rem 1fr 8rem;
    margin-bottom: 3rem;

    .article {
      grid-column: 2/3;
      grid-row: 1/3;

      .content {
        padding: 3rem 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 2rem;
          line-height: 3rem;
          letter-spacing: -0.5px;
        }

        p {
          margin: 0 0 1.5rem 0;
        }
      }
    }

    .shareIcons {
      position: sticky;
      top: 6rem;
      padding: 3rem 0 3rem 3.5rem;
      grid-column: 1/2;
      grid-row: 1;

      .title {
        display: block;
      }

      button {
        margin-top: 1rem;
      }
    }
  }

  .nextArticle {
    max-width: 920px;

    h2 {
      margin-bottom: 2.5rem;
    }
  }
}

@media all and (min-width: 1100px) {
  .articleHeader {
    padding: 6rem 0 2rem 0;

    .content {
      padding: 4rem 6rem;

      .author {
        margin: 2rem 0 0 0;
      }
    }

    .cover {
      height: 35rem;
    }
  }

  .articleWrapper {
    .article {
      .content {
        padding: 4rem 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 2.25rem;
          margin: 0 0 1.5rem 0;
        }

        .sectionImage {
          margin: 3rem 0 0 0;
        }
      }
    }
    .shareIcons {
      padding: 4rem 0 4rem 3.5rem;
    }
  }

  .nextArticle {
    h2 {
      margin-bottom: 3rem;
    }
  }
}
