.reviews {
  width: calc(100% - 2.5rem);
  display: block;
  max-width: 1248px;
  margin: 0 auto;
  padding: 2rem 0 1.5rem;

  .paragraph {
    margin-bottom: 0;
  }
}

.courseGroups {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem 0;
  margin-top: 2rem;

  .courseStyleWrapper {
    position: absolute;
    left: 1.75rem;
    top: 1.75rem;

    .tag {
      margin: 0 0.75rem 0 0;
      padding: 0.25rem 0.375rem;
      letter-spacing: 1px;
    }
  }
}

@media screen and (min-width: 600px) {
  .courseGroups {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .reviews {
    width: calc(100% - 6rem);
    padding: 4rem 0 3rem;

    .heading {
      max-width: 37.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    .paragraph {
      max-width: 34rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  .courseGroups {
    margin-top: 3.5rem;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .reviews {
    width: calc(100% - 8rem);
  }

  .courseGroups {
    margin-top: 4.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .reviews {
    padding: 5rem 0 3rem;
  }
}
