.resourceGroup {
  margin: 0 0 1.5rem 0;

  h2 {
    margin: 0;
  }
  p {
    margin: 0.75rem 0 0 0;
  }
}

@media all and (min-width: 800px) {
  .resourceGroup {
    margin: 0 0 2.5rem 0;

    p {
      margin: 1.5rem 0 0 0;
    }
  }
}
