.SelectWrapper {
  max-width: 24rem;

  .select {
    position: relative;

    .selector {
      display: block;
      position: absolute;
      background-color: $blue;
      height: 0.125rem;
      left: 0;
      bottom: 0;
      right: 100%;
      background-color: $blue;
      transition: right 250ms ease-in;

      &.error {
        right: 0;
        background-color: $red;
      }
    }

    .reactSelect__control {
      background-color: $greyLightSuper;
      border: none;
      box-shadow: none;
      border-radius: 0.25rem;

      .reactSelect__value-container {
        padding: 0.625rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .reactSelect__indicators {
        .reactSelect__indicator {
          padding-right: 0.875rem;

          svg {
            fill: $greyLight;
          }
        }

        .reactSelect__indicator-separator {
          display: none;
        }
      }
    }

    .reactSelect__menu {
      border: none;
      @include shadowHard;

      .reactSelect__menu-list {
        .reactSelect__option {
          font-size: 1rem;
          line-height: 1.75rem;
        }
      }
    }
  }
}
