.searchingIcon {
  margin: 0 auto 1.5rem;
}

.emptyCourseList {
  @media all and (min-width: 800px) {
    .searchingIconMargin {
      margin-top: 2rem;
    }
  }

  h3 {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
  }

  p {
    max-width: 25rem;
    margin: 1.5rem auto !important;
    text-align: center;
  }

  .input {
    input {
      background-color: white !important;
    }
  }
}
