.blogArticleList {
  background-color: white;
  border-radius: 0.5rem;
  @include shadowSoft;
  margin: 0 0 1.25rem 0;
  display: block;
  position: relative;
  transition: box-shadow 250ms ease-in-out;

  &:last-of-type {
    margin: 0;
  }

  &:focus {
    .linkArrow {
      padding: 0 0 0 2.125rem;
    }
  }

  @media (hover: hover) {
    &:hover {
      @include shadowHardDistant;

      .linkArrow {
        padding: 0 0 0 2.125rem;
      }
    }
  }

  .cover {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .content {
    padding: 1.25rem 1.25rem 1.5rem 1.25rem;

    h3 {
      margin: 0;
    }

    p {
      font: 400 0.875rem/1.625rem "Inter", Arial, sans-serif;
      color: $grey;
      margin: 0.5rem 0 1rem;
    }
  }
}

@media all and (min-width: 600px) {
  .blogArticleList {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 0 1.5rem 0;

    .cover {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
    }

    .content {
      padding: 2rem 2.5rem;
    }
  }
}

@media all and (min-width: 1100px) {
  .blogArticleList {
    margin: 0 0 2.5rem 0;

    .content {
      padding: 2.5rem 3rem;

      p {
        margin: 1rem 0 1.5rem;
        font-size: 1rem;
        line-height: 1.875rem;
      }
    }
  }
}
