.headerHomepage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;

  .headerHomepageBody {
    opacity: 0;
    transform: translateY(20px);

    h1 {
      max-width: 35rem;
    }

    p {
      max-width: 27rem;
    }

    .links {
      margin-top: 1rem;

      .linkArrow {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:before {
          top: 0.5rem;
        }

        &:focus {
          padding-left: 2.125rem;
        }

        @media (hover: hover) {
          &:hover {
            padding-left: 2.125rem;
          }
        }
      }
    }

    .headerButtons {
      margin-top: 1.75rem;
    }
  }

  .illustrationWrapper {
    margin-top: 1.25rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .headerHomepage {
    gap: 4rem;

    .illustrationWrapper {
      padding-bottom: 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .headerHomepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .headerHomepage {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .headerHomepage {
    padding-top: 8.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .headerHomepage {
    gap: 6rem;

    .headerHomepageBody {
      .links {
        margin: 2rem 0 2.5rem 0;

        .linkArrow {
          &:before {
            top: 0;
          }

          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 1.25rem;
        }
      }
    }

    .illustrationWrapper {
      .illustration {
        transform: scale(1.04);
        width: 576px;
        height: 445px;
      }
    }
  }
}
