.animateFadeUp {
  @include presetAnimation;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: opacity 800ms ease, transform 800ms ease;

  &.active {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
  }
}

.animateFadeIn {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;

  &.active {
    opacity: 1 !important;
  }
}
