@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter-Bold.woff2") format("woff2"),
    url("../fonts/Charter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font: 400 14px/26px "Inter", Arial, sans-serif;
  color: $grey;
}

h1 {
  font: 700 34px/44px "Charter", "Times New Roman", serif;
  letter-spacing: -0.25px;
  color: $blueDark;
}

h2 {
  font: 700 28px/38px "Charter", "Times New Roman", serif;
  letter-spacing: -0.25px;
  color: $blueDark;
}

h3 {
  font: 600 1.5rem/34px "Inter", Arial, sans-serif;
  color: $blueDark;
}

h4 {
  font: 600 1.25rem/2rem "Inter", Arial, sans-serif;
  color: $blueDark;
}

a {
  font: 600 1rem/1.5rem "Inter", Arial, sans-serif;
  color: $blue;
}

@media screen and (min-width: 1100px) {
  body {
    font: 400 16px/30px "Inter", Arial, sans-serif;
  }

  h1 {
    font: 700 56px/68px "Charter", "Times New Roman", serif;
    letter-spacing: -1px;
  }

  h2 {
    font: 700 2.5rem/3.25rem "Charter", "Times New Roman", serif;
    letter-spacing: -0.75px;
  }

  h3 {
    font: 600 2rem/2.5rem "Inter", Arial, sans-serif;
  }

  h4 {
    font: 600 1.5rem/2rem "Inter", Arial, sans-serif;
  }
}
