@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter-Bold.woff2") format("woff2"),
    url("../fonts/Charter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font: 400 0.875rem/1.625rem "Inter", Arial, sans-serif;
  color: $grey;
}

h1 {
  font: 700 2.125rem/2.75rem "Charter", "Times New Roman", serif;
  letter-spacing: -0.25px;
  color: $blueDark;
}

h2 {
  font: 700 1.75rem/2.375rem "Charter", "Times New Roman", serif;
  letter-spacing: -0.25px;
  color: $blueDark;
}

h3 {
  font: 600 1.5rem/2.125rem "Inter", Arial, sans-serif;
  color: $blueDark;
}

h4 {
  font: 600 1.25rem/2rem "Inter", Arial, sans-serif;
  color: $blueDark;
}

h5 {
  font: 600 1rem/1.5rem "Inter", Arial, sans-serif;
  color: $grey;
}

a {
  font: 600 1rem/1.5rem "Inter", Arial, sans-serif;
  color: $blue;
}

b,
strong {
  font-weight: 600;
}

@media all and (min-width: 800px) {
  body {
    font-size: 1rem;
    line-height: 1.875rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  h5 {
    font: 600 1.125rem/2rem "Inter", Arial, sans-serif;
  }
}

@media all and (min-width: 1100px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4.25rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.75px;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
