.signOffMailingList {
  h2,
  p {
    margin: 0 0 1rem 0;
  }

  .inputWrapper {
    max-width: 22rem;
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
  }
}

@media all and (min-width: 800px) {
  .signOffMailingList {
    p {
      margin-bottom: 1.5rem;
    }
  }
}

@media all and (min-width: 1100px) {
  .signOffMailingList {
    .button {
      margin-top: 0.5rem;
    }
  }
}
