header {
  padding: 5.5rem 0 2rem;

  h1 {
    margin: 0;
  }

  p {
    margin: 1rem 0 0 0;
    padding: 0;
  }
}

.header {
  h1 {
    opacity: 0;
    transform: translateY(20px);
  }
}

.headerButtons {
  .button {
    box-shadow: 0rem 0.125rem 0.25rem rgba($blueDark, 0.1);
    width: fit-content;

    &.buttonPrimary,
    &.iconLeft {
      margin-bottom: 0.75rem;
    }

    &.iconLeft {
      padding: 1rem 1.25rem 1rem 3rem;
      text-align: left;
      position: relative;

      &:before {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  header {
    padding: 8rem 0 4rem;
  }

  .headerButtons {
    @include flexJustifyStart;

    .button {
      &.buttonPrimary {
        margin: 0 1rem 0 0;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  header {
    padding: 10rem 0 6rem;

    p {
      margin: 1.5rem 0 0 0;
    }
  }
}
