.overlay {
  background-color: rgba($greyLight, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.modal {
  background-color: white;
  @include shadowHard;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  max-width: 50rem;

  header {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2.5rem;
    padding: 1rem 1.25rem;
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    @include shadowSoftShallow;

    h4 {
      padding: 0.25rem 0;
    }
  }

  .body {
    padding: 1rem 1.25rem;
    overflow: auto;
    max-height: calc(100vh - 18.25rem);

    @media screen and (min-width: 384px) {
      max-height: calc(100vh - 16.25rem);
    }

    @media screen and (min-width: 457px) {
      max-height: calc(100vh - 14.5rem);
    }

    p {
      margin-top: 0;
    }
  }

  footer {
    box-shadow: 0rem -0.125rem 0.5rem rgba($blueDark, 0.06);
    padding: 1.5rem 1.25rem;

    .checkboxFooter {
      display: grid;
      grid-template-columns: 1fr;

      .button {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .modal {
    .body {
      max-height: calc(100vh - 11.25rem);
    }

    footer {
      .checkboxFooter {
        align-items: center;
        grid-template-columns: 1fr 7.5rem;

        .checkboxWrapper {
          .errorText {
            min-height: 0;
          }
        }

        .button {
          height: fit-content;
          width: fit-content;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .modal {
    width: calc(100% - 8rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;

    header {
      padding: 1.5rem 2rem;
    }

    .body {
      max-height: calc(100vh - 24.25rem);
      padding: 2rem;
    }

    footer {
      padding: 1.5rem 2rem;
    }
  }
}
