.courseItem {
  background-color: white;
  @include shadowSoft;
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin: 0 0 1.25rem 0;

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;

    h3 {
      margin: 0 0 0.75rem 0;
      grid-column: 1/ 3;

      .tag {
        margin: 0.375rem 0 0.375rem 0.5rem;
        position: absolute;
      }
    }

    .facts {
      grid-column: 1/ 3;

      .fact {
        display: block;
        margin: 0 0 0.75rem 0;
      }
    }

    .summary {
      grid-column: 1/ 3;
      margin: 0 0 1rem 0;
    }

    .acuphysLogo {
      grid-column: 1/2;
      margin: 0.25rem 0 1.25rem 0;
    }
  }

  .onlineOnly {
    display: grid;

    .button {
      width: 100%;

      &.buttonSecondary {
        order: 1;
        background-color: $blueLight;
        margin: 0 0 0.635rem 0;
      }

      &.buttonPrimary {
        order: 2;
      }
    }
  }

  .bookings {
    grid-column: 1/3;

    .bookingsHeading {
      display: block;
      font: 600 1rem/1.5rem "Inter", Arial, sans-serif;
      margin: 0 0 1.25rem 0;
    }

    .bookingsRequestCourse {
      text-align: center;
      display: block;
      font: 600 1rem/1.5rem "Inter", Arial, sans-serif;
      margin: 1rem 0 0.5rem 0;
    }

    .booking {
      background-color: $blueLight;
      padding: 1rem 1.25rem;
      border-radius: 0.5rem;
      width: 100%;
      margin: 0 0 0.75rem 0;

      @media (hover: hover) {
        &:hover {
          .noBookings {
            .noBookingsLink {
              text-decoration: none;
            }
          }
        }
      }

      &:last-of-type {
        margin: 0;
      }

      .information {
        h4 {
          font-size: 1.25rem;
          margin: 0;
          @include flexJustifyStart;
          align-items: center;

          .dates {
            margin-right: 0.5rem;
          }
        }

        p {
          color: $grey;
          font: 400 0.875rem/1.5rem "Inter", Arial, sans-serif;
          margin: 0.5rem 0 1rem;
        }
      }

      .actions {
        .button {
          width: 100%;

          &:first-of-type {
            margin: 0 0 0.635rem 0;
          }
        }
      }

      .noBookings {
        display: block;
        padding: 0.75rem 0;
        font: 400 0.875rem/1.5rem "Inter", Arial, sans-serif;
        text-align: center;
        grid-column: 1/3;

        .noBookingsLink {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .courseItem {
    padding: 1.25rem 1.5rem 1.5rem;
    margin: 0 0 2rem 0;

    .details {
      grid-gap: 0 2rem;
      gap: 0 2rem;
      grid-template-columns: 1fr 11.5rem;

      h3,
      .facts {
        grid-column: 1/2;
      }

      .acuphysLogo {
        grid-column: 2/3;
        grid-row: 1/4;
        margin: 0;
        padding: 0 1rem 0 0;
      }
    }

    .onlineOnly {
      @include flexJustifyStart;

      .button {
        width: fit-content;

        &.buttonPrimary {
          order: 1;
          margin: 0 0.75rem 0 0;
        }

        &.buttonSecondary {
          order: 2;
          margin: 0;
        }
      }
    }

    .bookings {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0;

      .bookingsHeading {
        grid-column: 1/2;
        margin: 0 0 1.5rem 0;
      }

      .bookingsRequestCourse {
        text-align: right;
        grid-row: 1;
        grid-column: 2/3;
        margin: 0 0 1.5rem 0;
      }

      .booking {
        grid-column: 1/3;

        .information {
          p {
            margin-top: 0.5rem;
          }
        }

        .actions {
          @include flexJustifyStart;

          .button {
            width: fit-content;

            &.buttonSecondary {
              margin: 0 0.75rem 0 0;
            }
            &.buttonPrimary {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .courseItem {
    padding: 1.75rem 2rem 2rem;

    .details {
      h3 {
        .tag {
          font-size: 0.875rem;
          margin: 11px 0 11px 0.75rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .courseItem {
    padding: 2rem 2.25rem 2.25rem;

    .details {
      grid-template-columns: 1fr 11rem;

      h3 {
        margin: 0 0 1rem 0;
      }

      .facts {
        .fact {
          display: inline-block;
          margin: 0 1.5rem 1rem 0;
        }
      }

      .summary {
        margin: 0 0 1.5rem 0;
      }

      .acuphysLogo {
        padding: 0 0.5rem 0 0;
      }
    }

    .bookings {
      .booking {
        display: grid;
        grid-template-columns: 1fr 20rem;
        grid-gap: 1.5rem;
        gap: 1.5rem;
        padding: 1.25rem 1.5rem;

        .information {
          grid-column: 1/2;

          p {
            margin: 0.375rem 0 0 0;
          }
        }

        .actions {
          @include flexJustifyEnd;
          grid-column: 2/3;
          margin: 0.25rem 0 0 0;
          align-items: flex-start;
        }
      }
    }
  }
}
