.toast {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-gap: 1rem;
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  gap: 1rem;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8rem;
  border-radius: 0.25rem;
  @include shadowHard;
  max-width: calc(100% - 1.5rem);
  z-index: 1004;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  user-select: none;

  &.open {
    opacity: 1;
    bottom: 2rem;
  }

  .icon {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    position: relative;
    border-radius: 50%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .message {
    display: block;
    font: 600 1rem/1.5rem "Inter", Arial, sans-serif;

    a {
      text-decoration: underline;
    }
  }

  &.success {
    background-color: $greenLight;
    border-left: $green 0.25rem solid;

    .icon {
      &:before {
        background-image: url("../images/icons/tick.svg");
      }
    }

    .message {
      color: #00a38b;

      a {
        color: #00a38b;
      }
    }

    .close {
      &:focus {
        background-color: rgba(#00a38b, 0.1);
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(#00a38b, 0.1);
        }
      }

      .line {
        background-color: $green;
      }
    }
  }

  &.failed {
    background-color: $redLight;
    border-left: $red 0.25rem solid;

    .icon {
      &:before {
        background-image: url("../images/icons/warning.svg");
      }
    }

    .message {
      color: #e01530;

      a {
        color: #e01530;
      }
    }

    .close {
      &:focus {
        background-color: rgba(#e01530, 0.1);
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(#e01530, 0.1);
        }
      }

      .line {
        background-color: $red;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .toast {
    max-width: 30rem;
  }
}
