.content {
  p:last-child {
    margin-bottom: 0 !important;
  }

  ul {
    margin-bottom: 1.25rem;

    li {
      list-style-type: none;
      display: table;
      position: relative;
      padding: 0 0 0.5rem 1.25rem;

      &:before {
        display: table-cell;
        content: "\2022";
        position: absolute;
        left: 0;
      }
    }
  }

  ol {
    margin-bottom: 1.25rem;
    padding: 0 0 0 1.25rem;

    li {
      list-style-type: decimal;
      padding-bottom: 0.5rem;
    }
  }

  a {
    color: $grey;
    font-weight: 400;
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
