.textCenterAlways {
  text-align: center !important;
}

@media screen and (min-width: 800px) {
  .textCenterAlways,
  .textCenter {
    text-align: center !important;

    &.narrowText {
      max-width: 30rem;
      margin: 0 auto;
    }
  }
}
