.wrapper {
  width: calc(100% - 2.5rem);
  display: block;
  max-width: 1248px;
  margin: 0 auto;
}

.backgroundGreyLightSuper {
  background-color: $greyLightSuper;
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: calc(100% - 6rem);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: calc(100% - 8rem);
  }
}
