.wrapper {
  width: calc(100% - 2.5rem);
  display: block;
  max-width: 1248px;
  margin: 0 auto;

  &.padded {
    padding: 2rem 0 3.5rem;
  }
}

.backgroundGreyLightSuper {
  background-color: $greyLightSuper;
}

.backgroundBlueDark {
  background-color: $blueDark;
  color: $greyLight;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }
}

.narrowContent {
  max-width: 45rem;
  margin: 2rem auto 0;
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: calc(100% - 6rem);

    &.padded {
      padding: 4rem 0 5rem;
    }
  }

  .narrowContent {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: calc(100% - 8rem);
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    &.padded {
      padding: 5rem 0 8.5rem;
    }
  }
}
