.filterOption {
  @extend %buttonStyleReset;
  @include shadowSoft;
  display: table;
  background-color: white;
  width: 100%;
  margin: 0 0 0.75rem 0;
  border-radius: 0.25rem;
  cursor: pointer;

  .selector {
    display: table-cell;
    width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: $blue;
  }

  .text {
    text-align: left;
    display: table-cell;
    font: 400 1rem/1.5rem "Inter", Arial, sans-serif;
    color: $grey;
    padding: 0.875rem 1.125rem;
  }

  &.applied {
    .selector {
      width: 0.25rem;
    }

    .text {
      font-weight: 600;
      color: $blue;
    }
  }
}
