.imageSection {
  display: grid;
  grid-gap: 3rem;
  gap: 3rem;

  &.reverse {
    .imageWrapper {
      order: 2;
    }
    .content {
      order: 1;
    }
  }

  .imageWrapper {
    position: relative;
    padding: 0 0 95% 0;

    .image {
      width: 100%;
      position: absolute !important;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .blob {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }

  .content {
    h2 {
      margin: 0 0 1.5rem 0;
    }

    p {
      margin: 1.5rem 0 1rem;
      max-width: 28rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .imageSection {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 4rem;
    gap: 4rem;

    &.reverse {
      .imageWrapper {
        order: 1;
      }
      .content {
        order: 2;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .imageSection {
    grid-gap: 6rem;
    gap: 6rem;

    .imageWrapper {
      padding-bottom: 90%;

      .blob {
        padding: 0 3%;
      }
    }

    .content {
      h2 {
        margin-bottom: 2rem;
      }

      p {
        margin: 2rem 0;
      }
    }
  }
}
